{% extends 'Nav.html' %}
{% load static %}
{% block meta_description1 %}active{% endblock %}
{% block meta_description2 %}passive{% endblock %}
{% block meta_description3 %}passive{% endblock %}
{% block meta_description4 %}passive{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Home_Css.css' %}">
<div class="row">
	<div class="col1">
		<div class="IoD">
			<p style="display:inline;color:black;font-family: 'Montserrat', sans-serif;font-size:2.5em;margin:0;padding:0;">Hey!! <br>Hi, I'm Rishi.</p>
			<p style="color:black;font-family: 'Montserrat', sans-serif;font-size:1.9em;margin:0;margin-top:0.5em;padding:0;">I'm a Full-stack developer who loves to develop new projects.</p>
	        <a href="{% url 'About' %}"><p style="color:black;font-family: 'Montserrat', sans-serif;font-size:1.8em;margin:0;margin-top:0em;padding:0;float:left;">Learn More>></p></a>
		</div>
	</div>
	<div class="col">
		<div class="NmD">
			<img src="{% static 'images/dp.png' %}" width="50%" height="50%" style="margin:0em;">
			<p class="NmP1">Rishi Chaary.S</p>
			<p class="NmP2">{FullStack Developer}</p>
		</div>
	</div>
</div>
</body>
</html>
{% endblock %}