{% extends 'Nav.html' %}
{% load static %}
{% block meta_description1 %}passive{% endblock %}
{% block meta_description2 %}passive{% endblock %}
{% block meta_description3 %}active{% endblock %}
{% block meta_description4 %}passive{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Work_Css.css' %}">
<div style="font-size:2em;"><h2 style="text-decoration:underline; solid 1em;text-underline-position:under;">E-Commerce Website With Django</h2></div>
<div style="margin:0;margin-top:0.8em;"><p style="font-size:2em;margin:0;">A dynamic E-Commerce Website with multi-level user login.</p></div>
<div style="margin:0;"><p style="font-size:2em;margin-top:0.1em;">It Creates User, Seller and Admin account with e-mail verification.</p></div>
<div style="margin:0;"><a href="{% url 'Contact' %}" style="margin:0;text-decoration:none;"><p style="font-size:1.5em;margin-top:0.1em;">Contact for more info>></p></a></div>
<div style="margin:0;"><h1>Screenshots</h1></div>
<div class="row">
	<div class="col"><img src="{% static 'images/App11.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App12.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App13.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App14.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
</div>
<div class="row1">
	<div class="col"><img src="{% static 'images/App15.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App16.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App17.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
</div>
<div style="font-size:2em;"><h2 style="text-decoration:underline; solid 1em;text-underline-position:under;">Blog Website With Django</h2></div>
<div style="margin:0;margin-top:0.8em;"><p style="font-size:2em;margin:0;">A dynamic Blog Website to share your point of views.</p></div>
<div style="margin:0;"><p style="font-size:2em;margin-top:0.1em;">It allows you to share your pov's with out any login.</p></div>
<div style="margin:0;"><a href="{% url 'Contact' %}" style="margin:0;text-decoration:none;"><p style="font-size:1.5em;margin-top:0.1em;">Contact for more info>></p></a></div>
<div style="margin:0;"><h1>Screenshots</h1></div>
<div class="row">
	<div class="col"><img src="{% static 'images/App41.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App42.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App43.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
</div>
<div><a href="https://synkers-share-povs.herokuapp.com" target="_blank"><h5>click to visit</h5></a></div>
<div style="font-size:2em;"><h2 style="text-decoration:underline; solid 1em;text-underline-position:under;">Attendance System In Python With Tkinter</h2></div>
<div style="margin:0;margin-top:0.8em;"><p style="font-size:2em;margin:0;">It Is a attendance automation system with user friendly UI and OTP verification system</p></div>
<div style="margin:0;"><p style="font-size:2em;margin-top:0.1em;">for security. It also helps teachers to maintain students record digitalised. </p></div>
<div style="margin:0;"><a href="{% url 'Contact' %}" style="margin:0;text-decoration:none;"><p style="font-size:1.5em;margin-top:0.1em;">Contact for more info>></p></a></div>
<div style="margin:0;"><h1>Screenshots</h1></div>
<div class="row">
	<div class="col"><img src="{% static 'images/App21.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App22.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App23.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App24.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/Work_Css.css' %}">
<div style="font-size:2em;"><h2 style="text-decoration:underline; solid 1em;text-underline-position:under;">Library Management System In Python With Tkinter</h2></div>
<div style="margin:0;margin-top:0.8em;"><p style="font-size:2em;margin:0;">It Is a attendance automation system with user friendly UI and All the features required for an</p></div>
<div style="margin:0;"><p style="font-size:2em;margin-top:0.1em;"> library. It has secure Login system and fully functional features.</p></div>
<div style="margin:0;"><a href="{% url 'Contact' %}" style="margin:0;text-decoration:none;"><p style="font-size:1.5em;margin-top:0.1em;">Contact for more info>></p></a></div>
<div style="margin:0;"><h1>Screenshots</h1></div>
<div class="row">
	<div class="col"><img src="{% static 'images/App31.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App32.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App33.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
	<div class="col"><img src="{% static 'images/App34.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
</div>
<div class="row1">
	<div class="col"><img src="{% static 'images/App35.png' %}" width="100%" height="100%" style="border-radius:0.5em"></div>
</div>
{% endblock %}